:root {
  --white: #ffff;
  --black: #000000;
  --bntcolor: #00afdb;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
.btn {
  padding: 15px 47px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--bntcolor);
  color: var(--white);
  border: none;
}
