:root {
  --white: #ffff;
  --black: #000000;
  --btncolor: #00afdb;
  --hColor: #373737;
  --pColor: #4e4e4e;
  --sectionbackground: #f5f6f7;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
.container {
  width: 1600px;
}

a {
  text-decoration: none;
}
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  color: var(--hColor);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--pColor);
}
.p-bold {
  font-weight: 500;
}

.btn {
  padding: 15px 47px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  background-color: var(--btncolor);
  color: var(--white);
  border: none;
}
.side-img {
  width: 407px;
  height: 582px;
}
