/*header-hero*/

.container {
  margin-top: -3px;
  width: 1600px;
  height: 744px;
  background-image: url(./images/bg-image.png);
  background-position: center;
  background-size: cover;
}

.nav {
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.nav_left,
.nav_right {
  display: flex;
  gap: 85px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: 400;
}

.nav_left a,
.nav_right a {
  color: var(--white);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  margin-top: 135px;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 4.5px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white);
}

.hero p {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 18px;
  text-align: center;
  line-height: 140%;
  margin: 17px 0px 33px 0px;
}
.icons {
  margin: 183px 0px 90px 0px;
  display: flex;
  gap: 30px;
}

/*Second Section*/

.second_section {
  width: 1600px;
  height: 842px;
}

.secon_section-container {
  margin: 120px 269px 140px 269px;
  display: flex;
  justify-content: space-between;
}
.left_section {
  width: 407px;
  height: 233px;
  display: flex;
  flex-direction: column;
}
.left_section h2 {
  padding-right: 40px;
  line-height: 100%;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.left_section p {
  text-align: left;
  line-height: 140%;
  padding: 20px 0px 30px 0px;
}
.left_section-p-bold {
  font-weight: 500;
}
.btn2 {
  width: 184px;
  height: 46px;
}

.right_section img {
  width: 407px;
  height: 582px;
}
