/*header-hero*/
.hero-header {
  margin-top: -3px;
}
.hero {
  height: 744px;
  background-image: url(./images/bg-image.png);
  background-position: center;
  background-size: cover;
}

.nav {
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.nav__left,
.nav__right {
  display: flex;
  gap: 85px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: 400;
}

.nav__left a,
.nav__right a {
  color: var(--white);
}

.hero__texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__texts h1 {
  margin-top: 135px;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 4.5px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white);
}

.hero__texts p {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 18px;
  text-align: center;
  line-height: 140%;
  margin: 17px 0px 33px 0px;
}
.icons {
  margin: 183px 0px 90px 0px;
  display: flex;
  gap: 30px;
}

/*Second Section*/

.second-section {
  height: 842px;
}

.secon-section__content {
  padding: 120px 269px 140px 269px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-section__left {
  width: 407px;
  height: 233px;
}
.second-section__left h2 {
  padding-right: 40px;
  line-height: 100%;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.second-section__left p {
  text-align: left;
  padding: 20px 0px 30px 0px;
  line-height: 140%;
}

/*Third Section*/

.third-section {
  position: relative;
  height: 504px;
  background-color: var(--sectionbackground);
}

.third-section__content {
  display: flex;
  align-items: center;
  padding: 120px 0px 140px 269px;
  gap: 139px;
}
.third-section__left {
  width: 298px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.third-section__left img {
  height: 45px;
  width: 45px;
}

.third-section__left h3 {
  margin: 20px 0px 10px 0px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.4px;
}
.third-section__left p {
  text-align: center;
  vertical-align: bottom;
}
.third-section__right {
  display: flex;
  justify-content: right;
}
.third-section__right img {
  width: 894px;
  height: 244px;
}
.slider-nav__img {
  position: absolute;
  right: 269px;
  top: 82px;
}

/*Forth Section*/
.forth-section {
  height: 842px;
}
.forth-section__content {
  padding: 120px 378px 140px 269px;
  display: flex;
  align-items: center;
  gap: 139px;
}

.forth-section__right p {
  padding: 20px 0px 30px 0px;
  line-height: 140%;
  text-align: left;
}

/*Fifth Section*/

.fifth-section {
  background-image: url(./images/5-background.png);
  background-position: center;
  height: 524px;
}
.fifth-section__content {
  padding: 200px 597px 220px 597px;
}
.fifth-section__content h2 {
  text-align: center;
  color: var(--white);
}
.email-form {
  padding-top: 30px;
  display: flex;
  gap: 0;
}
.email {
  background-color: var(--white);
  border: none;
  padding: 13px 277px 13px 24px;
  width: 100%;
  color: var(--hcolor);
}
.submit-btn {
  padding: 16px 25px;
  border: none;
  background-color: var(--btncolor);
}
.submit-btn i {
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
}
